.items {
  list-style: none;
  margin-right: 30px;
  font-size: 22px;
  font-weight: 500;
  color: #6A097D;
  cursor: pointer;
  padding: 5px;
  text-decoration: none;
}
.items:hover {
  color: #222831;
}
.navbar-container{
    background-color: #F1D4D4;
}
.logo-img{
  width: 250px;
}