.items {
  list-style: none;
  margin-right: 30px;
  font-size: 22px;
  font-weight: 500;
  color: #6A097D;
  cursor: pointer;
  padding: 5px;
  text-decoration: none;
}
.items:hover {
  color: #F4ABC4;
}
.navbar-container{
    background-color: #F4ABC4;
}
.logo-img{
  width: 250px;
}
.nav-heading li{
  font-size: 25px;
  color: #7D1935;
}